{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
    <br>
    <h3 class="center pink-text"> Instituciones - Crear Institución </h3>
    <br> <br> <br>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <label for="nombre"> Nombre: </label>
                {{ NewInstForm.nombre | add_class:'form-control' }}
            </div>
            <div class="row">
                <label for="direccion"> Dirección: </label>
                {{ NewInstForm.direccion | add_class:'form-control' }}
            </div>
            <div class="row">
                <label for="telefono"> Teléfono: </label>
                {{ NewInstForm.telefono | add_class:'form-control' }}
            </div>
            <div class="row">
                <label for="coordenadaX"> Latitud: </label>
                {{ NewInstForm.coordenadaX | add_class:'form-control' }}
            </div>
            <div class="row">
                <label for="coordenadaY"> Longitud: </label>
                {{ NewInstForm.coordenadaY | add_class:'form-control' }}
            </div>
        </div>
        <button type="submit" class="waves-light btn pink">Agregar Institución</button>
    </form>
</div>

{% endblock content %}