{% extends 'base.html' %}

{% block content %}
{% load static %}

    <div class="container">
        <img id="AdminMiCuenta" src="{% static "Index/img/Admin/Index_MiCuenta.png" %}"/>
        <img id="AdminEstudiante" src="{% static "Index/img/Admin/Index_Estudiantes.png" %}"/>
        <img id="AdminAsistencias" src="{% static "Index/img/Admin/Index_Asistencias.png" %}"/>
        <img id="AdminClases" src="{% static "Index/img/Admin/Index_Clases.png" %}"/>
        <img id="AdminInstituciones" src="{% static "Index/img/Admin/Index_Instituciones.png" %}"/>
        <img id="AdminReportes" src="{% static "Index/img/Admin/Index_Reportes.png" %}"/>
        <img id="AdminUsuarios" src="{% static "Index/img/Admin/Index_Usuarios.png" %}"/>
    </div>


{% endblock content %}