{% extends 'base.html' %}

{% block content %}
{% load static %}

    <div class="container">
        <img id="AdminMiCuenta" src="{% static "Index/img/Admin/Index_MiCuenta2.png" %}"/>
        <a href="{% url 'Estudiantes:student_lists' %}"><img id="AdminEstudiante" src="{% static "Index/img/Admin/Index_Estudiantes2.png" %}"/> </a>
        <img id="AdminAsistencias" src="{% static "Index/img/Admin/Index_Asistencias2.png" %}"/>
        <img id="AdminClases" src="{% static "Index/img/Admin/Index_Clases2.png" %}"/>
        <a href="{% url 'Instituciones:inst_lists' %}"><img id="AdminInstituciones" src="{% static "Index/img/Admin/Index_Instituciones2.png" %}"/></a>
        <img id="AdminReportes" src="{% static "Index/img/Admin/Index_Reportes2.png" %}"/>
        <a href="{% url 'Usuarios:user_lists' %}"><img id="AdminUsuarios" src="{% static "Index/img/Admin/Index_Usuarios2.png" %}"/> </a>
    </div>

{% endblock content %}