{% extends 'base.html' %}

{% block content %}
{% load static %}

    <div class="container">
        <img id="AdminMiCuenta" src="{% static "Index/img/Admin/Index_MiCuenta.png" %}"/>
        <a href="{% url 'Estudiantes:student_lists' %}"><img id="AdminEstudiante" src="{% static "Index/img/Admin/Index_Estudiantes.png" %}"/> </a>
        <img id="AdminAsistencias" src="{% static "Index/img/Admin/Index_Asistencias.png" %}"/>
        <img id="AdminClases" src="{% static "Index/img/Admin/Index_Clases.png" %}"/>
        <a href="{% url 'Instituciones:inst_lists' %}"><img id="AdminInstituciones" src="{% static "Index/img/Admin/Index_Instituciones.png" %}"/></a>
        <img id="AdminReportes" src="{% static "Index/img/Admin/Index_Reportes.png" %}"/>
        <a href="{% url 'Usuarios:user_lists' %}"><img id="AdminUsuarios" src="{% static "Index/img/Admin/Index_Usuarios.png" %}"/> </a>
    </div>

{% endblock content %}