#AdminMiCuenta{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    width: 19%;
}

#AdminEstudiante{
    display: block;
    width: 19%;
    margin-left: 30.5%;
    margin-top: -39.5%;
}

#AdminMiCuentaV{
    display: block;
    width: 19%;
    margin-left: 10%;
}