#AdminMiCuenta{
    display: block;
    margin-left: auto;
    margin-right: auto;
        margin-top: 25%;
    width: 19%;
}

#AdminEstudiante{
    display: block;
    width: 19%;
    margin-left: 30.5%;
    margin-top: -39.5%;
}

#AdminAsistencias{
    display: block;
    margin-left: 50.5%;
    margin-right: auto;
    margin-top: -22%;
    width: 19%;
}

#AdminClases{
    display: block;
    margin-left: 60.7%;
    margin-right: auto;
    margin-top: -4%;
    width: 19%;
}

#AdminInstituciones{
    display: block;
    margin-left: 20.2%;
    margin-right: auto;
    margin-top: -21.7%;
    width: 19%;
}

#AdminReportes{
    display: block;
    margin-left: 30.5%;
    margin-right: auto;
    margin-top: -4%;
    width: 19%;
}

#AdminUsuarios{
    display: block;
    margin-left: 50.7%;
    margin-right: auto;
    margin-top: -22%;
    width: 19%;
}