{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
    <br>
    <h3 class="center green-text text-accent-2"> Usuarios - Crear Usuario </h3>
    <br> <br> <br>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <label for="Nombre"> Nombre: </label>
                {{ NewUsuariosForm.Nombre | add_class:'form-control' }}
            </div>
            <div class="row">
                <label for="Apaterno"> Apellido Paterno: </label>
                {{ NewUsuariosForm.Apaterno | add_class:'form-control' }}
            </div>
            <div class="row">
                <label for="Amaterno"> Apellido Materno: </label>
                {{ NewUsuariosForm.Amaterno | add_class:'form-control' }}
            </div>
            <div class="row">
                <label for="Telefono"> Telefono: </label>
                {{ NewUsuariosForm.Telefono | add_class:'form-control' }}
            </div>
            <div class="row">
                <label for="Email"> Email: </label>
                {{ NewUsuariosForm.Email | add_class:'form-control' }}
            </div>
            <div class="row">
                <label for="Passwd"> Contrasenia: </label>
                {{ NewUsuariosForm.Passwd | add_class:'form-control' }}
            </div>
        </div>
        <button type="submit" class="waves-light btn green accent-2">Agregar Usuario</button>
    </form>
</div>

{% endblock content %}